* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 16px * 62.5 = 10px = 1rem */
    box-sizing: border-box;
}

body {
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
    background-color: white;
}

button {
    font-size: 1.6rem;
}

.full-width {
    width: 100%;
}

#root {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: 'myNav' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.brand a {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff8000;
}

.main {
    grid-area: main;
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Home Screen */

.content {
    display: flex;
    flex-flow: column;
    background-color: #c9d677;
    align-items: center;
    max-width: 1100px;
    padding: 10px calc(50% - 640px);
    justify-content: center;
    box-shadow: 2px 2px 15px 5px rgba(105, 105, 105, 0.356);
}

.content .search-bar form {
    width: 100%;
}

.content .search-bar {
    width: 60%;
}

.mycontainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mycontainer .card {
    width: 300px;
    height: 480;
    margin: 10px;
    background-color: #453c7d4d;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 20px rgb(182, 182, 182);
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.mycontainer .card:hover {
    width: 310px;
    height: 490px;
    margin: 5px;
    transition: width height 0.2s ease;
}

.mycontainer .card .crd-img {
    width: 100%;
    height: 340px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.mycontainer .card .crd-details {
    width: 100%;
    padding: 5px 20px;
}

.mycontainer .card .crd-details h2 {
    color: rgb(43, 43, 43);
    font-weight: bold;
    padding: 5px;
}

.mycontainer .card .crd-details .brand {
    padding: 2px 5px;
    font-size: 15px;
    color: brown;
}

.mycontainer .card .crd-details .price {
    padding: 2px 5px;
    font-size: 20px;
    color: rgb(42, 165, 69);
    margin: 5px 0;
}

.product-rating {
    margin-bottom: 1rem;
}


/* Reviews */

ul.review {
    list-style-type: none;
    padding: 0;
}

.review li {
    margin: 1rem;
    margin-bottom: 2rem;
}

.review li>div {
    margin: 0.5rem;
}


/* Rating */

.rating span {
    color: #ffb901;
    font-size: 1.8rem;
    margin: 0.1rem;
}

.img {
    border-radius: 1rem;
}

.img.product-image {
    max-width: 29rem;
    width: 100%;
}

.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #cec5c5;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body>* {
    margin-bottom: 0.5rem;
}

.rating span:last-child {
    color: #444444;
    font-size: 1.4rem;
}

a>.rating>span:last-child {
    color: #0000ff;
}


/* Product Details */

.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

.details-image {
    flex: 2 1 60rem;
}

.details-image img {
    max-width: 60rem;
    width: 100%;
}

.details-info {
    flex: 1 1 30rem;
}

.details-action {
    flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
    list-style-type: none;
    padding: 0;
}

.details-info li,
.details-action li {
    margin-bottom: 1rem;
}

.back-to-result {
    padding: 1rem;
}

.details-action {
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
}

.details-action ul li:last-child {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button:hover {
    border: 0.1rem #404040 solid;
}

.button.primary {
    background-color: #f0c040;
}

.button.secondary {
    background-color: #f0f0f0;
}

.text-center {
    text-align: center;
}


/* Cart */

.cart {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
}

.cart-list {
    flex: 3 1 60rem;
}

.cart-action {
    flex: 1 1 20rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 1rem;
}

.cart-list-container {
    padding: 0;
    list-style-type: none;
    padding: 1rem;
}

.cart-list-container li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container li img {
    max-width: 10rem;
    max-height: 10rem;
}

.cart-list-container li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart-image {
    flex: 1 1;
}

.cart-name {
    flex: 8 1;
}

.cart-price {
    flex: 1 1;
    font-size: 2.5rem;
    text-align: right;
}


/* forms */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    list-style-type: none;
}

.form-container li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
}


/* Products */

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.content-margined {
    margin: 1rem;
}

.table {
    width: 100%;
}

th {
    text-align: left;
}

tbody>tr:nth-child(odd) {
    background-color: #f0f0f0;
}


/* Checkout Steps */

.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;
}

.checkout-steps>div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
}

.checkout-steps>div.active {
    border-top: 0.3rem #f08000 solid;
    color: #f08000;
}


/* Place Order */

.placeorder {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
}

.placeorder-info {
    flex: 3 1 60rem;
}

.placeorder-action {
    flex: 1 1 20rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
}

.placeorder-info>div {
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
    margin: 1rem;
}

.placeorder-info>div:first-child {
    margin-top: 0;
}

.placeorder-action>ul {
    padding: 0;
    list-style-type: none;
}

.placeorder-action>ul>li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.placeorder-action>ul>li:last-child {
    font-size: 2rem;
    font-weight: bold;
    color: #c04000;
}

.placeorder-actions-payment>div {
    width: 100%;
}


/* Profile */

.profile {
    display: flex;
    flex-wrap: wrap;
}

.profile-info {
    flex: 1 1 30rem;
}

.profile-orders {
    flex: 3 1 60rem;
}


/* admin */

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    padding: 1rem;
    list-style-type: none;
    z-index: 1;
    background-color: #203040;
    margin: 0;
    margin-top: 0.4rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* serach bar */

.content .filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.content .filter .search-bar {
    width: 70%;
}

.content .filter .search-bar input {
    width: 90%;
    border: 1px solid rgb(172, 196, 207);
    border-radius: 10px 0 0 10px;
    border-right: none;
    height: 40px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
}

.content .filter .search-bar button {
    width: 10%;
    background-color: white;
    border: 1px solid rgb(172, 196, 207);
    border-left: none;
    height: 40px;
    border-radius: 0 10px 10px 0;
    transform: translateY(-1px);
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    color: rgb(0, 72, 155);
    font-weight: 700;
}

.content .filter .sort-tab {
    width: 30%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.content .filter .sort-tab h3 {
    width: 30%;
    font-size: 20px;
    padding: 0 10px;
    color: rgb(0, 72, 155);
    font-weight: 500;
}

.content .filter .sort-tab .selector {
    width: 70%;
    height: 40px;
    border: 1px solid rgb(172, 196, 207);
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
}

.content .filter .sort-tab .selector option {
    font-family: 'Ubuntu', sans-serif;
}


/* navigation bar */

.myNav {
    width: 100%;
    height: 10vh;
    background-color: #203040;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
    z-index: 9000;
}

.myNav .logo a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 2px;
}

.myNav .nav-items {
    display: flex;
    flex-flow: row;
    list-style: none;
    height: 10vh;
    align-items: center;
}

.myNav .nav-items li {
    height: 100%;
    line-height: calc(10vh - 30px);
    padding: 15px;
}

.myNav .nav-items li:hover {
    background-color: rgba(0, 0, 0, 0.178);
}

.myNav .nav-items li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
}

.product-page {
    width: 100%;
}

.topic {
    color: #203040;
    font-size: 30px;
    padding: 20px;
    padding-top: 30px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #808080;
    margin-top: 20px;
}

.myFooter {
    width: 100%;
    min-height: 350px;
    background-color: #203040;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
}

.myFooter .bx1 {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.myFooter .bx1 h2 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: white;
    height: 70px;
    margin: 0;
}

.myFooter .bx1 ul {
    width: 50%;
    height: 230px;
    padding-left: 40px;
    list-style: none;
    color: white;
}

.myFooter .bx1 ul li {
    padding: 8px;
}

.myFooter .bx1 h3 {
    width: 100%;
    text-align: left;
    padding-left: 40px;
    color: white;
}

.myFooter .bx1 p {
    width: 100%;
    padding: 20px;
    color: white;
    line-height: 20px;
}

.myFooter .bx1 .aboutus {
    padding: 0 10%;
}

.myFooter .bx1 .addr {
    padding: 0;
    padding-left: 50px;
}

.myFooter .copyright {
    width: 100%;
    height: 20px;
    background-color: #192129;
}

.myFooter .copyright h5 {
    color: white;
    width: 100%;
    text-align: center;
}

.myFooter .bcon1 {
    width: calc(100% / 3);
}

.myFooter .bcon1 h2 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: white;
    height: 70px;
    margin: 0;
}

.myFooter .bcon1 .contact {
    width: 100%;
    color: white;
    font-weight: 200;
    height: 20px;
    padding-left: 20%;
}

.myFooter .bcon1 .social {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.myFooter .bcon1 .social i {
    margin: 10px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    padding: 0;
    line-height: 28px;
    border-radius: 5px;
}

.myFooter .bcon1 .social .fb:hover {
    color: rgb(0, 60, 255);
    background-color: white;
}

.myFooter .bcon1 .social .ins:hover {
    color: rgb(255, 123, 0);
}

.myFooter .bcon1 .social .lik:hover {
    color: rgb(0, 116, 161);
    background-color: white;
}

.myFooter .bcon1 .social .twt:hover {
    color: rgb(0, 195, 255);
    background-color: white;
}

.our-products-line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.our-products-line div {
    width: 30%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
}